@charset 'utf-8';
html,
body {
  background-color: rgba(0, 0, 0, 0);
  cursor: default;
  -webkit-user-select:none;/*webkit浏览器*/
  user-select:none;
  font-family: "Microsoft Yahei", "Arial", "sans-serif";
}

body {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button:focus,
input:focus,
select:focus,
textarea:focus,
a:focus {
  outline: none;
  resize: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus {
  text-decoration: none;
}

.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

table,
tr,
td {
  border: none;
  border: 0;
  vertical-align: middle;
  border-collapse: collapse;
  border-spacing: 0px;
}

.none {
  display: none;
}

/*自定义滚动条样式*/

*::-webkit-scrollbar {
  height: 10px;
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #BBBBBB;
}

*::-webkit-scrollbar-track {
  background: #F2F6FC;
}

#app{
  width: 100%;
  height: 100%;
}



/*************************************** flex 布局 start *******************/

/*//父盒子*/
.mui-flex {
  display: -webkit-box!important;
  display: -webkit-flex!important;
  display: -ms-flexbox!important;
  display: flex!important;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/*//子父通用 上下居中*/
.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/*//子元素*/
.mui-flex>.mui-cell{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 0;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
  display: block;
  padding: 0!important;
  position: relative;
  border:0 none;
}
/*//子元素的左右布局*/
.mui-flex>.mui-cell.fixed {
  -webkit-box-flex: 0!important;
  -webkit-flex: none!important;
  -ms-flex: none!important;
  flex: none!important;
  width: auto;
}
/*//子元素中上下居中*/
.mui-flex>.mui-cell.align-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.clearfix::before,
.clearfix::after{
  content:"";
  height:0;
  line-height:0;
  display:block;
  visibility:hidden;
  clear:both
}
.clearfix:after{clear:both}
.clearfix{*zoom:1}
/*************************************** flex 布局 end *******************/
